@charset "utf-8";
/* CSS Document */
.bx-wrapper .bx-viewport{
	background:none;
	border:none;
	box-shadow:none;
	left:0;
	overflow:visible !important;
	height:620px;
	background-color:transparent;

}

.bx-wrapper .bx-loading {
	background-color:transparent;
}

.bx-wrapper,#slider article{
	display:block;
	width:980px;
	margin:0 auto;
	height:620px;
}

.bx-wrapper .bx-prev{
	left:-70px;
	}

.bx-wrapper .bx-next{
	right: -70px;
	}


